@if (isMobile) {
  <div class="menu-toggle" (click)="toggleMenu()">
    <div [class.open]="menuOpen" class="hamburger">
      <span></span><span></span><span></span>
    </div>
  </div>
}

<nav
  #menu
  [class.floating-menu]="!isMobile"
  [class.mobile-menu]="isMobile"
  [class.mobile-menu--open]="menuOpen && isMobile"
>
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="onLinkClick('home')">
    <img src="/assets/icons/home.svg" alt="Home" />
    <span class="menu-label">Inicio</span>
  </a>
  <a routerLink="/portfolio" routerLinkActive="active" (click)="onLinkClick('portfolio')">
    <img src="/assets/icons/projects.svg" alt="Portfolio" />
    <span class="menu-label">Portfolio</span>
  </a>
  <a routerLink="/about" routerLinkActive="active" (click)="onLinkClick('about')">
    <img src="/assets/icons/about.svg" alt="Sobre mí" />
    <span class="menu-label">Sobre mí</span>
  </a>
  <a routerLink="/contact" routerLinkActive="active" (click)="onLinkClick('contact')">
    <img src="/assets/icons/contact.svg" alt="Contacto" />
    <span class="menu-label">Contacto</span>
  </a>
  
  <!-- Copyright discreto -->
  <div class="copyright">
    <span>© 2024</span>
  </div>
</nav>
