@if (isMobile) {
  <div class="menu-toggle" (click)="toggleMenu()">
    <div [class.open]="menuOpen" class="hamburger">
      <span></span><span></span><span></span>
    </div>
  </div>
}

<nav
  #menu
  [class.floating-menu]="!isMobile"
  [class.mobile-menu]="isMobile"
  [class.mobile-menu--open]="menuOpen && isMobile"
>
  <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">
    <img src="/assets/icons/home.svg" alt="Home" />
  </a>
  <a routerLink="/portfolio" routerLinkActive="active" (click)="closeMenu()">
    <img src="/assets/icons/projects.svg" alt="Portfolio" />
  </a>
  <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">
    <img src="/assets/icons/about.svg" alt="Sobre mí" />
  </a>
  <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">
    <img src="/assets/icons/contact.svg" alt="Contacto" />
  </a>
</nav>
