.game-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Centra el iframe horizontalmente */
    align-items: center; /* Centra el iframe verticalmente si es necesario */
    padding: 20px 0;
}

.game-frame {
    width: 580px;
    height: 400px;
    border: none;
}
