<section class="home-section">
  <div class="home-content">
    <img
      class="avatar"
      src="https://avatars.githubusercontent.com/u/77936857?s=400&u=a748a1ec6bc40e6ec277cb309ddfd85d7f4ff8cb&v=4"
      alt="Foto de Liyodev"
    />

    <h1>¡Hola, soy <span class="highlight">Liyodev</span>!</h1>
    <p class="tagline">Desarrollador de software y creador de videojuegos.</p>


    <div class="social-links">
      @for (link of socialLinks; track link.url) {
        @if (link.icon) {
          <a [href]="link.url" target="_blank" class="social-link">
            <img [src]="link.icon" [alt]="link.label" />
            <span>{{ link.label }}</span>
          </a>
        }
      }
    </div>
    
    <!-- Enlace discreto a política de privacidad -->
    <div class="privacy-link">
      <a routerLink="/privacy-policy">Política de Privacidad</a>
    </div>
  </div>
</section>
